---
import NavBar from '../components/NavBar.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Kevin "Anthony" Felker</title>
	</head>

	<body class="bg-slate-900 text-slate-100 min-h-screen flex flex-col antialiased">
		<NavBar />

		<main class="grow">
            <slot /> 
        </main>
	</body>
</html>